.cart {
    width: 300px;
    display: block;
    box-shadow: 2px 2px 10px grey;
    padding: 20px;
}

.cart div {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.cart div .price {
    float: right;
    clear: both;
}

.cart div:hover {
    color: dimgrey;
}

.cart button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.cart .disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}