.menu {
    width: 600px;
    height: 500px;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
    overflow: auto;
}

.meal-container {
    margin: 20px auto;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
    overflow: hidden;
}

h3 {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    margin-top: 20px;
}

.menu img {
    width: 150px;
    height: 120px;
    margin-right: 50px;
}

.menu span {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    margin-top: 20px;
    float: right;
}

.menu button {
    margin-top: 20px;
    float: right;
    clear: both;
}