body {
    position: relative;
}

.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.preloader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}