.modal {
    width: 400px;
    height: 200px;
    padding: 30px 20px 20px;
    background: #ffffff;
    box-shadow: 2px 2px 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;

    z-index: 100;
}

label span {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

label input {
    width: 250px;
    margin: 5px 0;
}

label input {
    padding: 5px;
}

.modal button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
}